Dataset Preparation

In [11]:
import pandas as pd

In [7]:
df=pd.read_csv('Heart.csv')

Find Shape of the data

In [8]:
df.shape

(303, 15)

In [9]:
df.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

Find Missing values

In [12]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

Removing Unnamed Column

In [18]:
df=df.drop(columns=(['Unnamed: 0']),axis=1)

In [19]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

Reading name of the columns

In [20]:
column_names=list(df.columns.values)
print(column_names)

['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD']

RENAMING COLUMN

In [21]:
df=df.rename(columns={'MaxHR':'MaxHR_new'})

In [22]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR_new,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

CHECKING DATATYPE OF COLUMNS

In [23]:
print(df.dtypes)

Age            int64
Sex            int64
ChestPain     object
RestBP         int64
Chol           int64
Fbs            int64
RestECG        int64
MaxHR_new      int64
ExAng          int64
Oldpeak      float64
Slope          int64
Ca           float64
Thal          object
AHD           object
dtype: object

GETTING MIN,MAX,MEAN VALUE FROM AGE COLUMN

In [24]:
print(df['Age'].min())

29

In [25]:
print(df['Age'].max())

77

In [26]:
print(df['Age'].mean())

54.43894389438944

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
features=['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol']
x=df.loc[:,features]
y=df.loc[:,['AHD']]

SPLITTING DATA INTO TRAIN AND TEST DATASET USING train_test_split

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [30]:
x_train

     Age  Sex     ChestPain  RestBP  Chol
19    49    1    nontypical     130   266
122   51    1    nonanginal     100   222
160   46    1    nontypical     101   197
55    54    1  asymptomatic     124   266
23    58    1    nonanginal     132   224
..   ...  ...           ...     ...   ...
245   67    1  asymptomatic     120   237
279   58    0  asymptomatic     130   197
134   43    0    nonanginal     122   213
28    43    1  asymptomatic     150   247
77    51    0    nonanginal     140   308

[227 rows x 5 columns]

In [31]:
x_test

     Age  Sex     ChestPain  RestBP  Chol
255   42    0    nonanginal     120   209
91    62    0  asymptomatic     160   164
51    65    1  asymptomatic     120   177
64    54    1  asymptomatic     120   188
133   51    1  asymptomatic     140   261
..   ...  ...           ...     ...   ...
181   56    0  asymptomatic     134   409
225   34    0    nontypical     118   210
164   48    1    nonanginal     124   255
209   62    0  asymptomatic     150   244
201   64    0  asymptomatic     180   325

[76 rows x 5 columns]

In [32]:
y_train

     AHD
19    No
122   No
160   No
55   Yes
23   Yes
..   ...
245  Yes
279   No
134   No
28    No
77    No

[227 rows x 1 columns]

In [33]:
y_test

     AHD
255   No
91   Yes
51    No
64   Yes
133   No
..   ...
181  Yes
225   No
164   No
209  Yes
201   No

[76 rows x 1 columns]

CHECKING THE SHAPE OF THE DATA

In [34]:
x_train.shape

(227, 5)

In [35]:
x_test.shape

(76, 5)

In [36]:
y_train.shape

(227, 1)

In [37]:
y_test.shape

(76, 1)